@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/*to sie bedzie swiecic ale dziala nie ruszac bo palce poucinam :) */

body {
  margin: 0;
  background-color: #0f0a19;
  color: white;
  min-height: 100vh;
}
